In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [7]:
purchase_data.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [54]:
number_of_player = purchase_data['SN'].value_counts()

In [56]:
len(number_of_player)

576

In [59]:
number_of_players = pd.DataFrame({ "Total player" : [len(number_of_player)]})

In [60]:
number_of_players

   Total player
0           576

In [34]:
number_unique_item = len(purchase_data['Item ID'].value_counts())

In [35]:
number_unique_item

179

In [36]:
average_price = purchase_data['Price'].mean()

In [37]:
average_price

3.050987179487176

In [42]:
Number_of_Purchases = purchase_data["Purchase ID"].count()

In [43]:
Number_of_Purchases

780

In [44]:
total_revenue = purchase_data['Price'].sum()

In [45]:
total_revenue

2379.77

In [46]:
summary_data_frame = pd.DataFrame({
    "Number of Unique Items" : [number_unique_item],
    "Average Price" :[average_price],
    "Number of Purchases" : [Number_of_Purchases],
    "Total Revenue" : [total_revenue]
})

In [47]:
summary_data_frame

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [63]:
male = purchase_data[purchase_data['Gender'] == 'Male']['SN'].value_counts()

In [65]:
len(male)

484

In [71]:
female = purchase_data[purchase_data['Gender'] == 'Female']['SN'].value_counts()

In [72]:
len(female)

81

In [73]:
others = purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed']['SN'].value_counts()

In [74]:
len(others)

11

In [77]:
male_percentage = 484 * 100 / 576

In [78]:
male_percentage

84.02777777777777

In [79]:
female_percentage = 81 * 100 / 576

In [80]:
female_percentage

14.0625

In [81]:
others_percentage = 11 * 100 /576

In [82]:
others_percentage

1.9097222222222223

In [84]:
dict = {'gender ': ['Male', 'Female', 'Other / Non-Disclosed'],
        'Total Count' : [484, 81, 11],
        'Percentage of Players' : [84, 14.0625, 1.909]}
df = pd.DataFrame(dict)

In [85]:
df

                 gender   Total Count  Percentage of Players
0                   Male          484                84.0000
1                 Female           81                14.0625
2  Other / Non-Disclosed           11                 1.9090

In [88]:
purshase_male = purchase_data[purchase_data['Gender'] == 'Male']['Item ID'].count()

In [89]:
purshase_male

652

In [92]:
purshase_female = purchase_data[purchase_data['Gender'] == 'Female']['Item ID'].count()

In [93]:
purshase_female

113

In [94]:
purshase_others = purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed']['Item ID'].count()

In [95]:
purshase_others

15

In [96]:
average_price_male = purchase_data[purchase_data['Gender'] == 'Male']['Price'].mean()

In [97]:
average_price_male

3.0178527607361953

In [98]:
average_price_female = purchase_data[purchase_data['Gender'] == 'Female']['Price'].mean()

In [99]:
average_price_female

3.203008849557519

In [100]:
average_price_others = purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed']['Price'].mean()

In [101]:
average_price_others

3.3460000000000005

In [102]:
total_value_male = purchase_data[purchase_data['Gender'] == 'Male']['Price'].sum()

In [103]:
total_value_male

1967.64

In [104]:
total_value_female = purchase_data[purchase_data['Gender'] == 'Female']['Price'].sum()

In [105]:
total_value_female

361.94

In [106]:
total_value_others = purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed']['Price'].sum()

In [107]:
total_value_others

50.19

In [108]:
avg_total_value_male = total_value_male / len(male)

In [109]:
avg_total_value_male

4.065371900826446

In [110]:
avg_total_value_female = total_value_female / len(female)

In [111]:
avg_total_value_female

4.468395061728395

In [112]:
avg_total_others = total_value_others / len(others)

In [113]:
avg_total_others

4.5627272727272725

In [116]:
Purshasing_analytique_gender = pd.DataFrame({
    "Gender" : ["Male", "Female", "Other / Non-Disclosed"],
    "Purchase Count" : [purshase_male, purshase_female, purshase_others],
    "Average Purchase Price" :[average_price_male, average_price_female, average_price_others],
    "Total Purchase Value" : [total_value_male, total_value_female, total_value_others],
    "Avg Total Purchase per Person" : [avg_total_value_male, avg_total_value_female, avg_total_others]
})

In [117]:
Purshasing_analytique_gender

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Male,652,3.017853,1967.64,4.065372
1,Female,113,3.203009,361.94,4.468395
2,Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [126]:
Lisosia93_purshase_count = purchase_data[purchase_data['SN'] == "Lisosia93"]['Item ID'].count()

In [127]:
Lisosia93_purshase_count

5

In [128]:
Idastidru52_purshase_count = purchase_data[purchase_data['SN'] == "Idastidru52"]['Item ID'].count()

In [129]:
Idastidru52_purshase_count

4

In [130]:
Chamjask73_purshase_count = purchase_data[purchase_data['SN'] == "Chamjask73"]['Item ID'].count()

In [131]:
Chamjask73_purshase_count

3

In [132]:
Iral74_purshase_count = purchase_data[purchase_data['SN'] == "Iral74"]['Item ID'].count()

In [133]:
Iral74_purshase_count

4

In [134]:
Iskadarya95_purshase_count = purchase_data[purchase_data['SN'] == "Iskadarya95"]['Item ID'].count()

In [135]:
Iskadarya95_purshase_count

3

In [136]:
avg_purshase_price_Lisosia93 = purchase_data[purchase_data['SN'] == 'Lisosia93']['Price'].mean()

In [137]:
avg_purshase_price_Lisosia93

3.7920000000000003

In [138]:
total_purshase_value_Lisosia93 = avg_purshase_price_Lisosia93 * Lisosia93_purshase_count

In [139]:
total_purshase_value_Lisosia93

18.96

In [140]:
avg_purshase_price_Idastidru52 = purchase_data[purchase_data['SN'] == 'Idastidru52']['Price'].mean()

In [141]:
avg_purshase_price_Idastidru52

3.8625

In [142]:
total_Idastidru52 = avg_purshase_price_Idastidru52 * Idastidru52_purshase_count

In [143]:
total_Idastidru52

15.45

In [144]:
avg_Chamjask73 = purchase_data[purchase_data['SN'] == 'Chamjask73']['Price'].mean()

In [145]:
avg_Chamjask73

4.61

In [147]:
total_Chamjask73 = avg_Chamjask73 * Chamjask73_purshase_count

In [148]:
total_Chamjask73

13.830000000000002

In [149]:
avg_Iral74 = purchase_data[purchase_data['SN'] == 'Iral74']['Price'].mean()

In [150]:
avg_Iral74

3.4049999999999994

In [151]:
total_Iral74 = avg_Iral74 * Iral74_purshase_count

In [152]:
total_Iral74

13.619999999999997

In [153]:
avg_Iskadarya95 = purchase_data[purchase_data['SN'] == 'Iskadarya95']['Price'].mean()

In [154]:
avg_Iskadarya95

4.366666666666666

In [155]:
total_Iskadarya95 = avg_Iskadarya95 * Iskadarya95_purshase_count

In [156]:
total_Iskadarya95

13.099999999999998

In [157]:
Purshasing_analytique_SN = pd.DataFrame({
    "SN" : ["Lisosia93", "Idastidru52", "Chamjask73", "Iral74", "Iskadarya95"],
    "Purchase Count" : [Lisosia93_purshase_count, Idastidru52_purshase_count,Chamjask73_purshase_count, Idastidru52_purshase_count, Iral74_purshase_count],
    "Average Purchase Price" :[avg_purshase_price_Lisosia93, avg_Chamjask73, avg_purshase_price_Idastidru52, avg_Iskadarya95, avg_Iral74],
    "Total Purchase Value" : [total_purshase_value_Lisosia93, total_Idastidru52, total_Chamjask73, total_Idastidru52, total_Iral74]
})

In [158]:
Purshasing_analytique_SN

            SN  Purchase Count  Average Purchase Price  Total Purchase Value
0    Lisosia93               5                3.792000                 18.96
1  Idastidru52               4                4.610000                 15.45
2   Chamjask73               3                3.862500                 13.83
3       Iral74               4                4.366667                 15.45
4  Iskadarya95               4                3.405000                 13.62

In [181]:
popular_item = purchase_data['Item ID'].value_counts()

In [162]:
popular_item.head(5)

92     13
178    12
108     9
132     9
82      9
Name: Item ID, dtype: int64

In [183]:
popular_item.head(5)

92     13
178    12
108     9
132     9
82      9
Name: Item ID, dtype: int64

In [189]:
most_popular_item = pd.DataFrame({
    "Item ID" : [92,178,108,132,82], 
    "Item Name" :['Final Critic', 'Oathbreaker Last Hope of the Breaking Storm', 'Nirvana', 'Fiery Glass Crusader', 'Singed Scalpel'],
    "Purshase Count":[13,12,9,9,9],
    "Item Price":[4.61, 4.23, 4.90, 4.58, 4.35],
    "Total value purshase" : [59.99, 50.76, 44.10, 41.22, 34.80]
})

In [190]:
most_popular_item

,Item ID,Item Name,Purshase Count,Item Price,Total value purshase
0,92,Final Critic,13,4.61,59.99
1,178,Oathbreaker Last Hope of the Breaking Storm,12,4.23,50.76
2,108,Nirvana,9,4.90,44.10
3,132,Fiery Glass Crusader,9,4.58,41.22
4,82,Singed Scalpel,9,4.35,34.80